@CHARSET "UTF-8";
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	background: #fff;
	color: #333;
	line-height: 1.42857143;
	min-width: 1340px;
	font-family: verdana, simsun;
    background: #f8f8f8;
}

.header {
    position: fixed;
    top: 0px;
    height: 50px;
    background-color: #2d323e;
    width: 100%;
    z-index: 999;
    color: #fff;
    line-height: 50px;
}

.header a {
	text-decoration: none;
}

.header .left {
    float: left;
}

.header .logo {
    margin-left: 30px;
    display: inline-block
}

.header .logo img {
    display: inline;
    vertical-align: middle;
	border: none;
}

.header .right {
    float: right;
}

.header .account {
    float: left;
    color: #fff;
}

.header .account:before {
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(/images/icons.png) -18px -191px;
}

.header .seperator {
    float: left;
    width: 1px;
    height: 34px;
    margin: 7px 20px;
}

.header .seperator:before, .header .seperator:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 17px;
    float: left;
    display: block;
}

.header .seperator:before {
    background: -ms-linear-gradient(top, #2e323d, #515662);/* IE9+*/
    background-image: -moz-linear-gradient(top, #2e323d, #515662); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2e323d), color-stop(1, #515662)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e323d', endColorstr='#515662', GradientType='0'); /* IE9*/
}

.header .seperator:after {
    top: 24px;
    background: -ms-linear-gradient(top, #515662, #2e323d);/* IE9+*/
    background-image: -moz-linear-gradient(top, #515662, #2e323d); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #515662), color-stop(1, #2e323d)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515662', endColorstr='#2e323d', GradientType='0'); /* IE*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#515662, endColorstr=#2e323d)";/* IE8+*/
}

.header .exit {
    float: left;
    color: #fff;
}

.header .exit:before {
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(/images/icons.png) -36px -191px;
}

.nav {
    border-bottom: 1px solid #eee;
    width: 1140px;
    height: 33px;	
    margin: auto;
    margin-top: 100px;
}

.tab {
	line-height: 32px;
	background: url(/images/title_bg.png) repeat-x;
	float: left;
	position: relative;
	border-top: 1px solid #e0e0e0;
	margin: 0 17px;
	padding: 0 8px;
	bottom: -1px;
	color: #999;
	z-index: 10;
	height: 32px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.tab.active {
	background: #fff;
	z-index: 100;
	cursor: default;
	color: #1976D2;
}

.tab:before {
	content: '';
	display: block;
	background: url(/images/image.png) -72px -48px no-repeat;
	width: 22px;
	height: 33px;
	position: absolute;
	top: -2px;
	left: -22px;
}

.tab:after {
	content: '';
	display: block;
	background: url(/images/image.png) -48px -48px no-repeat;
	width: 22px;
	height: 33px;
	position: absolute;
	top: -2px;
	right: -20px;
}

.tab.active:after {
	background: url(/images/image.png) -24px -48px no-repeat;
}

.tab.active:before {
	background: url(/images/image.png) left -48px no-repeat;
}

footer {
	line-height: 36px;
    background: #f9f9f9;
    border-top: 1px solid #cfcfcf;
    position: relative;
    z-index: 2301;
    padding: 0px 30px;
    text-align: center;
}